/* Font Declaration */
@font-face {
  font-family: Halant;
  src: url(../fonts/Halant-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Halant;
  src: url(../fonts/Halant-Light.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Halant;
  src: url(../fonts/Halant-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Halant;
  src: url(../fonts/Halant-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Halant;
  src: url(../fonts/Halant-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: futuraBook;
  src: url(../fonts/FuturaStd-Book.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: futuraBook;
  src: url(../fonts/FuturaStd-Bold.otf);
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: futuraBook;
  src: url(../fonts/FuturaStd-Light.otf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: futuraBook;
  src: url(../fonts/FuturaStd-Heavy.otf);
  font-weight: 600;
  font-style: normal;
}

html,body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: futuraBook, sans-serif;
  color: #111111;
}

body {
  background-color: #111111;
}

/* colors for pages */
.infuseview { background-color:#164A5E; }
.fanconnect { background-color: #222222; }
.socialar { background-color:#EAE9D7; }
.vstyle { background-color:#C8D1E6; }
.nobleplaces { background-color:#474BA1; }
.tapyoca { background-color:#381420; }
.vent { background-color:#469C77; } 
.homedepot { background-color: #C0D6DF; }
.lucid { background-color: #E38D3C; } 

.carousel {
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.item,.active,.carousel-inner {
  height: 100%;
}

/* landing page */
#landing-page {
  height: 100vh;
  background-color: #fefefe;
  background-image: url("../images/bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.dd-menu {
  height: 0px;
  overflow: hidden;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 16px #eeeeee;
  box-shadow: 0px 0px 16px #eeeeee;
}

.dd-menu div{
  display: none;
}

#logo-menu {
  height: 5em;
  width: 5em;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 1em;
  margin-left: auto;
  z-index: 2;
  margin-right: auto;
  position: fixed;
  background-color: #fefefe;
  left: 50%;
  margin-left: -40px;
  top: 3em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#logo-menu:hover {
  background-color: #111111;
}

#logo-menu:hover svg {
  fill: #eeeeee;
}

#logo-menu:hover + .dd-menu {
  height: 5.5em;
}

#logo-menu svg {
  fill: #111111;
  height: 3em;
}

.carousel-inner .modal {
}

#splash-text {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 700px;
  white-space: nowrap;
  overflow: visible;
  mix-blend-mode: exclusion;
}

#splash-text h1{
  font-weight: 700;
  font-size: 7em;
  color: #fff8dc;
}

#splash-text h2{
  font-weight: 200;
  font-family: Halant, serif;
  color: #eeeeee;
}

.down-cta {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -200px;
  text-align: center;
  cursor: pointer;
}

.down-cta p {
  font-weight: 200;
  font-size: 1.2em;
  font-family: Halant, serif;
  color: #eeeeee;
  mix-blend-mode: exclusion;
}

.down-line {
  height: 4em;
  width: 1px;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  mix-blend-mode: exclusion;
}

.down-cta:hover p {
  color: #B14B58;
}

.down-cta:hover .down-line {
  background-color: #B14B58;
}

.carousel-inner {
  overflow-y: scroll;
  /* for compatible browsers */
  -webkit-overflow-scrolling: touch;
}
.item {
  margin-left: auto;
  margin-right: auto;
}

.main-slide {
  margin-bottom: 5em;
}

#aboutMe {
  text-align: left;
  position: relative;
  background-color: #111111;
  display: inline-block;
  color: #eeeeee;
  width: 100%;
}

.about-image {
  width: 100%;
}

.large-caption {
  color: #B14B58; 
  font-size: 4em;
  font-weight: 700;
  text-shadow: none;
  max-width: 700px;
  position: absolute;
  top: 5.5em;
  left: 1em;
}

.container-fluid {
  overflow: hidden;
}

.visual-hero .large-caption {
  color: #87ceeb;
  mix-blend-mode: exclusion;
}

#aboutMe .statement {
  font-family: futuraBook;
  font-weight: 200;
}

#aboutMe-block {
  padding: 3em;
  padding-top: 6em;
  font-family: Halant;
  font-size: 1.8em;
  line-height: 1.6em;
}

.fill video {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

#tryWord {
  padding: 50px;
  font-size: x-large;
  color: white;
  width:270px;
  margin: auto;
  display: block;
  background-color: #331A2A;
}
.navbar {
  display: none;
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
  width: 100%;
  height: 100vh;
  text-align: left;
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.readjust {
  position: relative;
  display: flex;
}

.downloadbtn {
  border: 2px solid #808080;
  color: #808080;
  border-radius: 24px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 1px;
}

.downloadbtn svg {
  fill: #808080;
}

.downloadbtn:hover {
  color: #555555;
  border-color: #555555;
  text-decoration: none;
}

.downloadbtn:hover svg {
  fill: #555555;
}

.light {
  border-color: #fff;
  color: #fff;
}

.light svg {
  fill: #fff;
}


.prototype {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
  margin: 1em;
}

.prototype:hover {
  opacity: 0.4;
  color: #FFF;
  text-decoration: none;
}

.call-out {
  color: #FFF;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
}

.call-out h4 {
  font-size: 1.4em;
  font-weight: 700;
}

.center-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
}

.mainLogo {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.carousel-caption h2 {
  font-size: large;
}

.text-center {
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.row.text-center p {
  width: 50%;
  display: inline-flex;
  justify-content: space-evenly;
  font-weight: 700;
}

.row.text-center p span {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 2em;
  line-height: 1em;
}

.row.text-center p span .subtext {
  font-size: 0.5em;
  font-family: Halant;
  font-weight: 200;
  margin: 0;
  pointer-events: none;
}

.row.text-center p span:hover {
  cursor: pointer;
}

.row.text-center p span:hover:not(.underline) {
  opacity: 0.6;
}

.row.text-center p .underline {
  color: #B14B58;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.menu-block {
  top: 12em;
  position: relative;
}

.menu-divider {
  width: 30%;
  background-color: #eeeeee;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.reachout {
  text-align: center;
  font-family: Halant;
  font-weight: 200;
}

/*For Safari */
.row:before, .row:after {
  display: none !important;
}

.big-project {
  max-width: 48%;
  margin-right: 0px;
  padding-right: 0px;
  display: block;
  float: left;
  opacity: 1;
}

.small-project {
  max-width: 24%;
  margin-right: 0px;
  padding-right: 0px;
  display: block;
  float: left;
  opacity: 1;
}

.modal-content {
  border-radius: 8px;
}

.modal-body {
  padding: 0;
}

.modal-header {
  position: sticky;
  top: 0px;
  z-index: 1;
  border-bottom: none;
}

.modal-body img{
  width: 100%;
  border-radius: 0px 0px 8px 8px;
}

.detailed {
  font-size: 1em;
  font-family: Halant, serif;
  line-height: 2em;
  font-weight: 200;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  color: #555555;
  margin-left:auto;
  margin-right:auto;
}

.detailed figure {
  width: 800px;
  max-width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.detailed figure img {
  max-width: 100%;
}

.detailed figure figcaption {
  font-size: 0.8em;
  font-style: italic;
}

.detailed h2 {
  margin-top: 1.5em;
  font-family: futuraBook, Sans-Serif;
  font-weight: 400;
  color: #111111;
  padding-bottom: 0.2em;
  padding-top: 0.5em;
  text-transform: lowercase;
}

.detailed h1 {
  font-family: futuraBook, Sans-Serif;
  font-weight: 700;
}

.detailed video {
  max-width: 100%;
  max-height: 600px;
}

.detailed p {
  margin-bottom: 1.5em;
}

.video-wrapper {
  width: 95%;
  max-height: 800px;
  margin-bottom: 6em;
  margin-left: auto;
  margin-right: auto;
}

.video-wrapper video {
  width: 100%;
  border-radius: 8px;
}

.feature-block img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.feature-block iframe {
  max-height: 100%;
  max-width: 100%;
}

.feature-block video {
  max-width: 100%;
  max-height: 600px;
  border-radius: 8px;
}

.feature-block h4 {
  font-family: futuraBook, Sans-Serif;
  font-size: 2em;
  font-weight: 700;
  width: 90%;
  color: #555555;
}

.feature-block {
  margin-bottom: 5em;
  overflow: auto;
}

.feature-block .single {
  max-height: 100%;
  max-width: 95%;
}

.split-block {
  max-height: 600px;
  margin-top: 8em;
  margin-bottom: 8em;
  display: flex;
}

.split-block div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.left-line {
  border-left: 2px solid orange;
  padding-left: 8px;
  font-size: 0.8em;
  line-height: 2em;
  margin-top: -2em;
  margin-bottom: 3em;
}

.detailed strong {
  font-weight: 600;
}

.detailed a:hover img { 
  box-shadow: 6px 6px 8px rgba(0,0,0,0.35);
}

.shadow {
  box-shadow: 4px 4px 6px rgba(0,0,0,0.25)
}

.indented-block {
  margin-top: 4em;
  margin-bottom: 8em;
  margin-left: 2em;
}

.flex-inline {
  display: flex;
  align-items: start;
}

.article .principle-icon {
  width: 2em;
  margin: 0;
  margin-right: 1em;
  margin-top: 0.5em;
}

.final-hero {
  width: 100%;
  position: relative;
}

.final-hero img {
  width: 100%;
  border-radius: 8px;
}

.final-hero video {
  width: 100%;
  border-radius: 8px;
}

#Final .final-title {
  width: 70%;
  margin-top: 4em;
  margin-bottom: 6em;
  min-width: 600px;
  font-size: 1.2em;
}

.concept-row {
  display: flex;
  margin-bottom: 8em;
  justify-content: space-between;
}

.concept-row img {
  margin: 0;
}

.overflow-callout {
  position: absolute;
  top: 0;
}

.flex-space {
  width: 4em;
}


.text-white .title-bar {
  background-color: white;
}

#Final h3 {
  font-family: futuraBook, sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  color: #555555;
}

#Final h4 {
  font-family: futuraBook, sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 4em;
  color: #555555;
}

#Final p {
  font-family: futuraBook, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #555555;
}

#Final .text-white h3{
  color: white;
}

#Final .text-white h4{
  color: white;
}

#Final .detailed {
  width: 100%;
}

#Final .feature-block div {
  flex-direction: column;
}

.final-block {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.final-note {
  min-width: 500px;
  width: 50%;
}

#Final .thank-you {
  margin-top: 8em;
  text-align: center;
}

#Final .strong-title {
  font-size: 4em;
  font-family: futuraBook, sans-serif;
  font-weight: 700;
  margin-bottom: 1em;
}

.img-note {
  min-width: 200px;
  width: 200px;
  position: relative;
}

#veneer {
  top: 150px;
  margin-right: 1em;
}

#cards {
  margin-left: 1em;
  margin-right: 0.5em
}

.title-bar {
  height: 3px;
  width: 4em;
  background-color: #555555;
}

.title-bar.long-bar {
  width: 16em;
  height: 3px;
  align-self: flex-start;
}

#Overview .detailed {
  padding-bottom: 8%;
  padding-top: 0;
}

.shout-out h4 {
  font-size: 4em;
  font-family: futuraBook, sans-serif;
  font-weight: 700;
}

.shout-out hr {
  border-width: 8px;
  width: 10em;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  max-height: 600px;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.feature-block div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  max-height: 600px;
  height: 100vh;
}

.goback {
  position: fixed;
  z-index: 1020;
  top: -500px;
  margin-left: 1em;
  border-width: 2px;
  display: flex;
  align-items: center;
}

.goback svg {
  height: 20px;
  padding-right: 10px;
}

.headliner {
  text-align: center;
}

.headliner .subtitle{
  font-size: 0.8em;
  font-style: italic;
}

.overview {
  margin-bottom: 3em;
  font-family: futuraBook;
  font-size: 0.8em;
}

.overview .goal {
  font-family: Halant, serif;
  font-size: 3em;
  line-height: 1.2em;
  margin: 1em 0 1.8em 0;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details div{
  width: 20%;
}

.details p {
  margin-bottom: 0px;
  font-family: Halant, serif;
  line-height: 1.6em;
}

.details p strong {
  font-family: futuraBook, sans-serif;
  white-space: nowrap;
}

.details .strong-underline {
  height: 4px;
  width: 80%;
  margin: 0.4em 0 1em 0;
}


@media only screen and (max-width: 900px) {
  .overview .col-sm-8 {
    display: none;
  }

  .detailed {
    width: 80%;
  }

  .tablink {
    padding: 8px;
  }

  .overview {
    display: inherit;
  }
    .row .col-sm-9 {
    width: 100%;
  }
  .row .col-sm-2 {
    display: none;
  }
  .row .col-sm-1 {
    display: none;
  }

  .goback {
    display: none;
  }
}

@media only screen and (max-width: 1270px) {
  .goback {
    display: none;
  }

  .scrollContainer {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .big-project {
    max-width: 100%;
  }

  .small-project {
    max-width: 48%;
  }
}
.carousel-inner {
  -webkit-box-shadow: inset 0 -1px 14px -3px;
  box-shadow: inset 0 -1px 14px -3px;
  background-color: #fefefe;
}

.headline {
  max-height: 700px;
  max-width: 1400px;
  height: 50vw;
  width: 100vw;
}

.container iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* My Titles */
#myinfo {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding-top: 6em;
  margin-left: 3em;
}
#myname {
  font-family: futuraBook;
  margin: 0;
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 1px;
  white-space: nowrap;
}
#myname span {
  font-family: Halant;
  font-weight: 200;
}

#mylogo {
  border-radius: 50%;
  height: 50px;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}
#myresume {
  font-family: futuraBook;
  font-size: 20px;
  width: 120px;
  text-align: center;
}

#myemail {
  font-family: futuraBook;
  font-size: 20px;
  margin: 5px;
  padding-left: 40px;
}
.statement {
  text-align: center;
  margin: 13%;
  overflow: auto;
}
.statement h1{
  font-size: 2.5em;
  color: #555555;
  font-weight: 200;
}
.statement h2{
	font-size: 2em;
  color: #555555;
}
.links {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 1em;
}
.links a {
  background-color: transparent;
  color: #111111;
  font-size: 1em;
  border-color: rgba(0,0,0,0.2);
}

.links a:hover {
  background-color: #111111;
  color: #eeeeee;
}

@media only screen and (max-width: 900px) {
body {
	font-size: 12px;
	}
  #myinfo {
    padding-top: 2em;
    flex-direction: column;
  }
  footer {
    height: 8em;
  }
  #splash-text {
    width: 200px;
  }
  #splash-text h1 {
    font-size: 3em;
  }
  #splash-text h2 {
    font-size: 1em;
  }
  .row.text-center p span {
    font-size: 1.2em;
  }

  .links {
    display: none;
  }
  .downloadbtn {
    margin-left: 40px;
    margin-top: 15px;
  }
  #statement {
    margin-top: 15%;
    margin-bottom: 15%;
    font-size: 1em;
  }

  .fill video {
    left: -300px;
  }
}

.article {
  -webkit-transition: background 1000ms linear;
  -ms-transition: background 1000ms linear;
  transition: background 1000ms linear;
}

.container {
  -webkit-transition: box-shadow 0.6s ease-in-out;
  -ms-transition: box-shadow 0.6s ease-in-out;
  transition: box-shadow 0.6s ease-in-out;
}

a img {
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.article img {
  display: block;
  margin: auto;
}

.article .container {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);;
  border-radius: 16px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  background-color: white;
  max-width: 1400px;
  top: 100vh;
}

.entry {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.works {
  padding: 1.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
}
.works a img {
  pointer-events: auto;
  border-radius: 5px;
}

.works img {
  margin: 0px;
  padding: 0px;
  float: left;
}

.works a {
  position: relative;
  text-decoration: none;
  margin-bottom: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  pointer-events: none;
}

.works .big-project {
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: 1px 1px 2px #888888;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.works .big-project:hover {
  -webkit-box-shadow: 8px 8px 16px #888888;
  box-shadow: 8px 8px 16px #888888;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.works .big-project:hover .hover-arrow {
  padding-top: 0px;
}

.works .hover-text {
  display: block;
  text-align: left;
  position: absolute;
  z-index: 100;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.works .small-project .hover-text {
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 81%);
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  /**adjust where desired**/
  left: 0;
  bottom: 0;
  /**same size as images**/
  width: 100%;
  height: 35%;
}

.hover-text i{
  font-weight: 200;
  font-size: 0.8em;
}

.hover-wrapper {
  position: absolute;
  margin: 0;
  bottom: 1em;
  left: 1em;
}

.works .big-project .hover-text {
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 15%;
  background-color: #fff;
  color: #555555;
  font-weight: 700;
  font-size: 2.6em;
  line-height: 0.2em;
  /**adjust where desired**/
  left: 0px;
  top: 0px;
  /**same size as images**/
  height: 100%;
  width: 100%;
}

.hover-text span {
  font-family: Halant, serif;
  font-size: 0.5em;
  font-weight: 200;
  position: relative;
  top: 2em;
}

.hover-text .hover-arrow {
  position: absolute;
  font-size: 2em;
  right: 24px;
  padding-top: 200px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.hover-arrow svg {
  width: 0.4em;
}

.works a:hover span,.works a:active span,.works a:focus span {
  opacity:0.92;
}
.return a {
  color: #FFFFFF;
  font-variant: normal;
  font-weight: bolder;
}
.header-image {
  display: block;
  text-align: center;
  position: fixed;
  left: 50%;
  top: -700px;
}

.banner {
  max-width: 100%;
  height: auto;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.headline {
  padding: 120px 0;
}
.headline h1 {
  font-size: 130px;
  background: #fff;
  background: rgba(255,255,255,0.9);
}
.headline h2 {
  font-size: 77px;
  background: #fff;
  background: rgba(255,255,255,0.9);
}
.featurette-divider {
  margin: 80px 0;
}
.featurette {
  overflow: hidden;
}
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}
.featurette-heading {
  font-size: 50px;
}
.detailed img {
  max-width: 100%;
  border-radius: 4px;
  max-height: 600px;
  margin-top: 4em;
  margin-bottom: 8em;
}

.detailed .col-sm-6 img {
  max-width: 80%;
  margin-top: 0;
  margin-bottom: 0;
}

/* Visuals */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}
.image img {
  border-radius: 4px;
  display: block;
}
.image.left, .image.right {
  max-width: 40%;
}
.image.left img, .image.right img {
  width: 100%;
}
.image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}
.image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}
.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.image.fit img {
  width: 100%;
}
.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
.image.main img {
  width: 100%;
}
/* Main */
#main {
  padding: 2em;
  position: relative;
  background-color: #fefefe;
}
#main .inner {
  max-width: 100%;
}
/* Columns */
.columns {
  position: relative;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}
.columns .image {
  position: relative;
  display: inline-block;
  margin: 0 0 .5em;
  width: 100%;
  overflow: hidden;
}
.columns .image img {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3D(0, 0, 0);
}
.columns .image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (max-width: 736px) {
  .columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}


@media screen and (max-width: 480px) {
  .columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
@media(max-width:1200px) {
  .headline h1 {
    font-size: 140px;
  }
  .headline h2 {
    font-size: 63px;
  }
  .featurette-divider {
    margin: 50px 0;
  }
  .featurette-image.pull-left {
    margin-right: 20px;
  }
  .featurette-image.pull-right {
    margin-left: 20px;
  }
  .featurette-heading {
    font-size: 35px;
  }
}
@media(max-width:991px) {
  .headline h1 {
    font-size: 105px;
  }
  .headline h2 {
    font-size: 50px;
  }
  .featurette-divider {
    margin: 40px 0;
  }
  .featurette-image {
    max-width: 50%;
  }
  .featurette-image.pull-left {
    margin-right: 10px;
  }
  .featurette-image.pull-right {
    margin-left: 10px;
  }
  .featurette-heading {
    font-size: 30px;
  }
}
@media(max-width:768px) {
  .container {
    margin: 0 15px;
  }
  .featurette-divider {
    margin: 40px 0;
  }
  .featurette-heading {
    font-size: 25px;
  }
  .feature-block div {
    height: 300px;
  }
}

@media (min-width: 768px) {
  
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}

@media (min-width: 1000px) {
  
  .modal-dialog {
    width: 980px;
    margin: 30px auto;
  }
}


@media(max-width:668px) {
  .headline h1 {
    font-size: 70px;
  }
  .headline h2 {
    font-size: 32px;
  }
  .featurette-divider {
    margin: 30px 0;
  }
}
@media(max-width:640px) {
  .headline {
    padding: 75px 0 25px 0;
  }
  .headline h1 {
    font-size: 60px;
  }
  .headline h2 {
    font-size: 30px;
  }
}
@media(max-width:375px) {
  .featurette-divider {
    margin: 10px 0;
  }
  .featurette-image {
    max-width: 100%;
  }
  .featurette-image.pull-left {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .featurette-image.pull-right {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
@media(max-width: 970px) {
  .holoframe {
    display: none !important;
  }
}
a {
  cursor: pointer;
  color: #808080;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.more {
  font-size: 0.8em;
  font-family: FuturaBook;

}

nav[data-toggle='toc'] {
  top: 15%;
}

nav[data-toggle=toc] .nav .nav>li>a {
  padding-bottom: 6px;
  text-transform: lowercase;
}

nav[data-toggle=toc] .nav .nav>.active>a {
  font-weight: 600;
}

.highlight{
    background-size: 200% auto; 
    background-image: linear-gradient(to right,#fff 50%,#ff0 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#tapyoca .highlight {
  background-image: linear-gradient(to right,#fff 50%, #91CFCE 50%);  
}

#vstyle .highlight {
  background-image: linear-gradient(to right,#fff 50%, #d1d1d1 50%);  
}

#lolsa .modal-content {
  background-color: #09161C;
}

.img-link img{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-link:hover img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}


.highlight.active{
   animation-name: highlight;
}


@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}

/* scroll down */
.scrollContainer {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  top: -150px;
  cursor: pointer;
}

.next-tab {
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-family:  futuraBook, sans-serif;
}

.next-tab a{
  color: #888888;
}


.next-tab a:hover {
  color: #bebebe;
  text-decoration: none;
}

.new-piece {
  position: relative;
  margin-top: 5em;
  padding-bottom: 5em;
}

.new-piece a{
  color: #888888;
}

.new-piece.light a{
  color: white;
}

.new-piece a:hover{
  color: #555555;
  text-decoration: none;
}

.next-project {
  right: 3em;
  text-align: right;
  float: right
}

.last-project {
  left: 3em;
  text-align: left;
  float: left;
}

.outer-link {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 6em;
  font-size: 2em;
}

.up {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: 0;
  top: initial;
}

.up span {
  color: #808080;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  mix-blend-mode: exclusion;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background:#555555;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: FuturaBook, "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #808080;
  text-transform: uppercase;
  white-space: nowrap;
  mix-blend-mode: exclusion;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* Style tab links */
.tablink {
  position: relative;
  overflow: hidden;
  color: #111111;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1em;
  width: 30%;
}

#tab-selector {
  height: 10px;
  width: 30%;
  position: relative;
  left: 20%;
  border: 2px solid;
  border-bottom-width: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tab-divider {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #ddd;
}

#tab-progress {
  height: 10px;
  width: 10%;
  position: relative;
  top: -2px;
  margin: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.piece-nav {
  text-align: center;
  margin-top: 1.5em;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 100px 0px;
  height: 100%;
}

footer {
  background-color: #111111;
  margin: 0;
  height: 15em;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; 
}